.root {
    -fx-font-family: "Exo 2";
    -fx-font-smoothing-type: gray;
    -fx-gold-gradient: linear-gradient(from 0% 100% to 100% 0%, rgb(155, 126, 68) 0%, rgb(239, 220, 144) 30%, rgb(251, 246, 188) 50%, rgb(239, 220, 144) 70%, rgb(155, 126, 68));
    -fx-panels-background: rgb(234, 225, 184);
    -fx-chat-color: rgba(0,0,0,.3);
}
.mainTitle {
    -fx-font-size: 30;
}

.codexFont{
    -fx-font-family: "UnifrakturMaguntia";
    -fx-text-fill: rgb(74, 55, 56);
    -fx-stroke: black;
}

.bigTitle {
    -fx-font-size: 40;
}

.midTitle {
    -fx-font-size: 30;
}

.smallTitle {
    -fx-font-size: 15;
}

.border {
    -fx-border-insets: 20;
    -fx-border-color: black;
    -fx-border-width: 3;
}

.mainBg {
    -fx-background-image: url("/img/codex_senza_quadrato.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#stackPane {
    -fx-background-color: black, -fx-gold-gradient, black, -fx-gold-gradient, black, -fx-panels-background;
    -fx-background-insets: 0, 1, 5, 6, 10, 12;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0,0,0);
    -fx-background-radius: 25, 24, 20, 19, 15, 13;
}

#innerStackPane {
    -fx-padding: 25;
}

#decksHBox, #goalsVBox, #handHBox, .borderedTitle, #leaderboard, #chat {
    -fx-background-color: black, -fx-gold-gradient, black, -fx-gold-gradient, black, -fx-panels-background;
    -fx-background-insets: -20, -19, -15, -14, -10, -8;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0,0,0);
    -fx-background-radius: 25, 24, 20, 19, 15, 13;
}

#turnInfoLabel {
    -fx-font-weight: bold;
}

#card {
    -fx-effect: dropshadow(three-pass-box, black, 5, 0,0,0);
}

#messageTextField{
    -fx-background-color: -fx-chat-color;
    -fx-text-fill: white;
    -fx-background-radius: 13
}
.startBackground{
    -fx-background-image: url("/img/background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
.newLobbyButton{
    -fx-background-radius: 150;
    -fx-text-fill: #ffffff00
}

#chatScrollPane {
    -fx-background-color: -fx-chat-color;
    -fx-background-radius: 13
}
#chatScrollPane > .viewport {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 13
}

.iconButton:disabled {
    -fx-opacity: 0.5;
}